In [188]:
PENDING:
    
    arr1 * N
    
    zip( arr1, arr2 )
    
    sorted( array )
    
    multiple assignment 
    
    functions with variable numbers of arguments
    
    functions returning more than one result 
            
    json module

SyntaxError: invalid syntax (<ipython-input-188-4d0949b62179>, line 1)

## Python Notebooks essential survival guide (**PLEASE READ**)

Python Notebooks provide an interactive environment for code experimentation, visualization and publication of results.

The light-gray boxes containing code below are called 'code cells'  ('celdas', en espaÃ±ol).   
Formatted text on white background is contained in'markdown cells' 
Basic operations on code cells 

*  **Up/Down arrows** Move up and down from cell to cell
*  **[Enter]** Enter a cell to edit it 
*  **[Shift + Enter]** Evaluate a cell and display the result and go to the next
*  **[Ctrl  + Enter]** Evaluate a cell and display the result and stay on it
*  **[Esc] - [D] - [D]** Delete a cell
*  **[Esc] - [B]** Insert a cell below current cell
*  **[Esc] - [A]** Insert a cell above current cell 
*  **[Esc] - [M]** Turn code cell into markdown


For more keyboard shortcuts go to Help menu -> Keyboard shortcuts

### Acknowledgment 

This notebook is based on the notebooks found here: https://github.com/rajathkumarmp/Python-Lectures

# Key facts about Python

  * Python is an interpreted, dynamically typed, advanced and expressive scripting language
  * Syntactically, it belongs to the  in the Algol/Pascal/C family of languages.
  * Semantically, it is perhaps closes to Lisp.
  * The Python philosofy emphasizes **readability of code as well as elegance and simplicity of syntax**, 
     * e.g. words preferred to symbolic operators, no curly braces, no semicolons and most notably, **blocks delimited by identation!**
  * Prototyping a solution can be done 5 - 10 faster in Python than in C/C++ and 3-5 faster than in Java
  * Some describe Python as **executable pseudocode**, meaning it's almost as simple to write a Python program as it is to sketch it in plain english  
  * Python is advertised as **batteries included**. Its very extensive [standard library](https://docs.python.org/3/library/) makes it easy to perform common tasks such as: reading and modifying text files (an other types), using regular expressions, doing http requests, setting up a simple http server, implementing desktop GUIs, **interfacing with databases**, **doing data mangling**, **machine learning**, **deep learning**, etc... 
  * Python and its standard library are [wonderfully documented](https://docs.python.org/3/)
  * Python can be used as a [**glue language**](https://www.python.org/doc/essays/omg-darpa-mcc-position/).
  * Python **supports object orientation**, and most libraries use it, but it is not a core feature of the language. It's quite posible to write all python code in a *purely procedural or functional style*, and sometimes it is even preferable to do so!
  
### Nobody is perfect...
  
  * Python, in it's default interpreted implementation, is rather **slow** (about 20 times as slow as a pure C implementation) However... 
      * It can be easily extended with C/C++ written modules that implement the performance critical parts of the application. For example, for numerical work / matrix computations there is the 'numpy' library. 
      *  There is an superset language called Cython which is syntactically very similar to Python but with some of C's features, such as static variable type declarations. By using Python it is easy to write C-speed extension modules that can easily be imported from Python.
      *  There are also some compilable implementations of Python, such as [PyPy](https://pypy.org/).

## Basic Instructions for the workshop

You are expected to evaluate all of each one of the code-cells below _in order_. 

Do this by pressing **Shift-Enter** on each, in turn. The order is important as sometimes results of previous cells are reused in later cells. 

Some cells are left empty or incomplete. Those are meant for you to fix something or write the code for a coding exercise.

# The Zen Of Python

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Variables

A **name** that is used to refer to a value is called a variable. In Python, variables can be declared and values can be assigned to it as follows.

In [21]:
x = 2
y = 5
xy = 'Hey'
w  = 4.8 
arr = [42, 17, 68]       # A 'list', internally an array 
tup = (48, 'ads', 8.0)   # A 'tuple', similar to a list, we will get into the difference later 
dic = { "k1" : 3,  "k2" : "z", "k3" : 8.0 } # A 'dictionary' 

## We call the built-in print() function on ech of the values defined above
print( x , y, xy, w  )
print( arr )
print( tup )
print( dic )
# this is a comment

2 5 Hey 4.8
[42, 17, 68]
(48, 'ads', 8.0)
{'k1': 3, 'k2': 'z', 'k3': 8.0}
(2, 5)

A cell containing only a variable name evaluates to the value pointed to by that variable. For example:

In [8]:
arr

[42, 17, 68]

One can also show the value of more than one variable, separating them by commas:

In [9]:
arr, xy

([42, 17, 68], 'Hey')

Our first error

In [10]:
ar

NameError: name 'ar' is not defined

Our first function

**IMPORTANT NOTE:** A variable is **_NOT_** a box holding a value, like in other languages. 
It is just a name that holds a *reference* to a value. When we talk about the *value of a variable*, what we really mean is the value pointed at by that reference.

# Operators

## Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | exponentiation |
| ~   | negation |

In [11]:
1 + 2

3

In [12]:
"this is how" + "to" + "concatenate strings"

'this is howtoconcatenate strings'

In [13]:
[ "this is how", "to"] + ["concatenate", "lists"]

['this is how', 'to', 'concatenate', 'lists']

In [14]:
2-1

1

In [15]:
1*2

2

In [16]:
1/2

0.5

In [17]:
15 % 10   # Mod division

5

**Floor division** is not exactly _integer division_:

In [18]:
5 // 2

2

In [16]:
-5 // 2

-3

In [17]:
-2.8 // 2.0

-2.0

## Relational Operators

| Symbol | Task Performed |
|----|---|
| == | True, if values are equal |
| is | True, if identical, i.e. the **same** object  |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [24]:
z = 1  # As in C/Java/Javascript but unlike in SQL, This is an assignment, not a comparison!

In [23]:
z == 1 # This is a comparison

True

In [26]:
z != 1  # test for inequality, people coming from a different family of languages 
        # would write this  z <> 1

False

In [15]:
z > 1

False

In [27]:
z >= 1  # Nothing crazy here!

True

In [28]:
arr == [42, 17, 68]

True

In [29]:
arr is [42, 17, 68]

False

In [42]:
s1 = "a string"

In [43]:
s1 == "a string"

True

In [44]:
s1 is "a string"

False

99.9% of the time the `is` comparison operator is only used to compare to the special value `None`

In [30]:
z is None

False

In [28]:
a = None

In [29]:
a is None

True

# Built-in Functions

Python comes **loaded** with built-in functions

The basic syntax for evaluating a function is the usual one:  `fun( x, y, z )`, where `x, y, z` are arguments passed to the function (by reference!) 
It is important to know that arguments are fully evaluated _before_ calling the function. 

This is what's called the eager-evaluation model. This is the same behaviour that you might be used to if you come from C/Java/Javascript/C# but not what happens in R and that is one of the reasons why R can easily get more confusing than Python...

## Types and conversion between types

**type( v )** Yields the type of `v` (or the value pointed to by `v`)

In [55]:
z, type( z )

(1, int)

In [31]:
arr, type( arr ),

([42, 17, 68], list, type, type)

In [32]:
type( type(arr) ), type( type( type(arr) ))

(type, type)

In [30]:
a, type( a ), type( type(a) )

(None, NoneType, type)

In [68]:
w, type( w )

(4.8, float)

**Note**:  `float` actually means double! i.e. 64-bit / double precision floating point number. This is the type usually employed in Machine Learning (ML) calculations.

**`str(x)`** is analogous to Java's `x.toString()`, it turns anything into a string, often times in a useful way. It's exact behaviour can be defined for user defined classes, but that's a topic for another time...

In [33]:
str(4.8), type( str(4.8) )

('4.8', str)

**int(x)** is the basic way of trying to convert `x` into an integer; `x` is usually a string or a number in that case

In [71]:
int( "1323"), type( "1323"), type( int( "1323") )

(1323, str, int)

In [74]:
type( 4.8 ), int( 4.8 ), type( int(4.8) )

(float, 4, int)

Similarly there is float(x):

`float(x)` converts a string or another kind of  number to  float

In [92]:
"4.8", type( "4.8"),  float("4.8"), type( float("4.8"))

('4.8', str, 4.8, float)

In [189]:
float( "juan" )

ValueError: could not convert string to float: 'juan'

In [193]:
float( "nan" ), float( "inf"), float( "-inf")  # special values of type float!:  https://en.wikipedia.org/wiki/IEEE_754

(nan, inf, -inf)

**Exercise B1:** Run the following 3 cells and infer what the built-in function `round` with one or two arguments does

In [97]:
round( -4.78 )

-5

In [99]:
round( -3.141516297, 4 )

-3.1415

In [101]:
round( -3.141516297, 5 )

-3.14152

Write your answer here (step on this cell and hit Enter to edit). When you are done ctrl-Enter to : 

** round( x, d): ** .....

Now find the documentation for `round()` here: https://docs.python.org/3/library/functions.html and compare notes

**Excercise B2:**
Pick any function you like in https://numba.pydata.org/ and try it out on a few inputs

In [ ]:
# replace fun by your function and fill out the arguments
fun( , ,  )

**chr(x)** is used for converting ASCII to its alphabet equivalent, **ord(x)** is used for the other way round.

In [26]:
chr(98)

'b'

In [27]:
ord('b')

98

* `range( a )` returns a generator (like an iterator) over the sequence of numbers `[0, 1, 2, ..., a-1]`
* `range( a, b )` returns a generator over the sequence of numbers `[a, a+1, a+2, ..., b-1]`

In [110]:
range( 10 ), type( range(10))

(range(0, 10), range)

In [113]:
range( 50, 100), type( range(10) )

(range(50, 100), range)

To 'materialize' the generator, i.e. actually produce the sequence of numbers as a list, you can wrap-it in a call to list, like so:

In [217]:
print( list( range(50, 100) ) )

SyntaxError: invalid syntax (<ipython-input-217-681f53d04244>, line 1)

**Exercise B3**: What does range(1, 100, 5) produce? Wrap it in a call to list( ), like in the previous example...

## Accepting User Inputs

**input( )** accepts input and stores it _as a string_. Hence, if the user inputs a integer, your code should convert the string to an integer and then proceed.

In [106]:
abc = input("Type something here and it will be stored in variable abc \t")

Type something here and it will be stored in variable abc 	3

In [118]:
type(abc)

str

# More on strings

The easiest way to insert dynamically evaluated values in strings is by means of string interpolation. 

This is done using `f"....{var1}... {var2}"` syntax.

Example:

In [34]:
juans_height = 1.70
num_siblings  = 2 

f"Juan is {juans_height} meters tall and has {num_siblings} brothers and sisters"

'Juan is 1.7 meters tall and has 2 brothers and sisters'

One can also specify precision, with the `"...{var:.#f}..."` syntax, where # is the number of decimal digits

In [35]:
f"Juan is {juans_height:.2f} meters tall"

'Juan is 1.70 meters tall'

One can even use **full expressions** (including function calls!) within the braces:

In [36]:
luisas_height = 1.60
f"Juan is { round( (juans_height - luisas_height)* 100 )  }cm taller than Luisa"

'Juan is 10cm taller than Luisa'

In most Python code written before version 3.6 you will find old-style c-format strings with so-called substitution sequenceses  (from the 1970's ðŸ˜«)

In [37]:
"Juan is %f meters high and has %d brothers and sisters" % (juans_height, num_siblings)

'Juan is 1.700000 meters high and has 2 brothers and sisters'

A slightly newer and better syntax uses the format method on strings

In [38]:
"Juan is {jh} meters tall and has {ns} brothers and sisters".format( jh= juans_height, ns=num_siblings  )

'Juan is 1.7 meters tall and has 2 brothers and sisters'

The following is also a simple common solution, although not the most efficient

In [39]:
"Juan is " + str(juans_height) + " meters tall and has " + str(num_siblings) + " brothers and sisters"

'Juan is 1.7 meters tall and has 2 brothers and sisters'

I hope you will agree with me that the newer syntax we first saw is vastly superior:

In [40]:
f"Juan is {juans_height} meters tall and has {num_siblings} brothers and sisters"

'Juan is 1.7 meters tall and has 2 brothers and sisters'

As in C/Java, etc., A string can also contain special escape codes for caracters such as line feed (`'\n'`) and tab (`'\t'`)

In [41]:
a_str = f"Juan is {juans_height} meters tall\n\tand has {num_siblings} brothers\nand sisters"
print( a_str )

Juan is 1.7 meters tall
	and has 2 brothers
and sisters

Strings may contain any Unicode characters, including emojis!

In [42]:
'I feel \U0001F604'

'I feel ðŸ˜„'

It is possible to have multiline strings containing quotes, as follows:

In [43]:
multi_line = """A Haiku:

One day I was born
When I was eight navel found
The smell set me free.

"""

In [44]:
print( multi_line )

A Haiku:

One day I was born
When I was eight navel found
The smell set me free.

### String indexing

The following shouldn't be very surprising

In [48]:
b_str = "Juan's height"

In [49]:
b_str[0]

'J'

In [50]:
b_str[1]

'u'

**Exercise S3:** What is the result of evaluating `type( b_str[0] )`?

In [45]:
"J" == 'J'

True

In [46]:
type( 'J')

str

### Strings are immutable!

Let's attempt to change the 'u' at position 1 by an 'o'

In [47]:
b_str[1] = 'o'

NameError: name 'b_str' is not defined

### String slices

String slicing is the way to take substrings out of longer strings:

In [51]:
b_str[0:4]

'Juan'

In [52]:
b_str[:4]  # Exactly Equivalent to the previous one (0 is the implicit starting index)

'Juan'

In [53]:
b_str[4:]  # from the fourth character till the end

"'s height"

In [54]:
b_str[7:13] # specify start and end indices

'height'

In [55]:
b_str[-6:] # Negative indices count from the end!

'height'

In [179]:
b_str[-6:-2] # This leaves out the last two characters

'heig'

### A few more cool operations on strings

In [56]:
"Remember" + "string concatenation!"

'Rememberstring concatenation!'

**Exercise S3:** Fix the example above to include a space between the words "Remember" and "string"

In [57]:
ans_S3 = # Your fixed code here 
ans_S3

SyntaxError: invalid syntax (<ipython-input-57-44e0c62c4118>, line 1)

In [58]:
The built-in function len return the length of a string:

SyntaxError: invalid syntax (<ipython-input-58-73e0ef25388d>, line 1)

**Exercides S4**: what is `len( "Juan AndrÃ©s" )`?

Strings can be multiplied by an positive integer

In [185]:
"Juan" * 5

'JuanJuanJuanJuanJuan'

**Exercise S5:**  What is len( "Juan" * 5 )

In [187]:
"Juan" * 4.8

TypeError: can't multiply sequence by non-int of type 'float'

There is a built-in function (actually a method of the class string) to split a string by a character. Very common when reading (simple) CSV files, for example

In [197]:
data = "Juan,1.70,2".split( "," )
data

['Juan', '1.70', '2']

In [198]:
type( data )

list

The inverse operation is `join`:

In [204]:
"    ".join(  data )

'Juan    1.70    2'

Another useful method on strings is "str.find( x )" which returns the index of the first occurrence a substring `x` withing a longer string

In [59]:
b_str = "Juan's height is"
b_str.find( "height" )

7

### Lists (L)

Very analogous to strings with a few extra methods:

In [63]:
string_list = [ "Juan", "is", "1.70", "metres", "high"]

**Exercise L1:** What is `len( string_list )`?

**Exercise L2:** what is `string_list[0]` ?

**Exercise L3:** What is `string_list[-1]`?

**Exercise L4:** What is `string_list[2]`?

**Exercise L5:** What is `string_list[:3]`?

**Exercise L6:** What is `string_list[3:10]`?

### Lists ARE mutable, however!

In [62]:
string_list[4] = 'tall'
string_list

NameError: name 'string_list' is not defined

We try to copy the list...

In [64]:
s_list2 = string_list

In [65]:
s_list2[2] = '1.74'

**Exercise L7:** What do you think is `string_list[2]` at this point? What is it actually?

**Exercise L8:** What is the result of evaluating `s_list2 == string_list` ?

**Exercise L9:** What is the result of evaluating `s_list2 is string_list` ?

**Exercise L10:** What happens if you try to access `string_list[10]`? 
  1. I get `None`
  2. An exception occurrs 
  3. Something else

**Exercise L11:** What happens if you try to set `string_list[10]` to a value? 
  1. It works fine
  2. An exception occurrs 
  3. Something else

In [ ]:
help( list )

**Exercise L12:** Looking at the documentation shown by the previous command, what is the name of the list method that can be used to add an element at the end of the list? 
( *Hint*: If you prefer a nicer formatted document [go here](https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range))

### For loops

For loops are specially simple in Python. The basic syntax is as follows

In [74]:
for elem in string_list : 
    print( elem )
    print( len(elem), 'character\n' )
    
print( "The loop is done")

Juan
4 character

is
2 character

1.74
4 character

metres
6 character

high
4 character

The loop is done

Three crucial things to note aboute the syntax: 
  * The basic template for starting a loop is `for <var-name>  in  <iterable> :`
    * We will talk more about what _iterables_ are in what follows. Naturally, a list is iterable. 
  * **Very important** note the ':' at the end. It is mandatory, without it you will get a not very helpul error! In fact this ':' at the end is common to almost all Python control of flow constructs, as we will see later.
  
  * The block of two statements under the for to be iterated is **determined by indentation**. I.e they should be all indented 
  by the same amount (usually Python editors are set up to replace <TAB> by 4 spaces)

Not so crucially: the **empty line after the two statements** is not mandatory, but is considered good practice. The important thing is that the line after that is no longer indented with respect to the `for` and, hence, it is already out of the loop.

### Important advise on indented blocks 

Blocks delimited by indentation are probably the hardests things to get used to when you are new to Python, but they don't need to be painful! In fact, you will soon realize that this is one of the greatest features of Python and it leads to nicer looking code with fewer alien symbols!  

A common pitfall for beginners is using a code editor that doesn't have a special Python mode or that let's you mix tabs with space for indentation. when working on a Python project you should always avoid that kind of editors, as they can be an endless source of frustration for you. Always use Python-aware editors, such as the Spyder IDE that is included with Anaconda or Visual Studio Code with the Python plugin installed. When using those make sure to *always* name your Python source code files with '.py' extension, so that the editor knows that you are writing a Python script or module.

** Exercise F1 **: Repeat the for loop code above but delete the ':' at the end of the first line. Run it. What error do you get?

### Another important example of an iterable : range( a, b, s )

A very common form of for loop is one that iterates from `0` to `n-1`. 
This is easily achieved with the help of built-in function `range()`, as follows.

In [130]:
n = 10 # desired number of iterations

for  i in range(20,3,-5) : 
    print( f"i = {i}")

i = 20
i = 15
i = 10
i = 5

**Exercise F2:** In the previous code snippet, change `range(n)` by `range(3,10)` and rerun:

  1. What is the first value of `i`? 
  2. What is the second value of `i`? 
  3. What is the last value of `i`?

**Exercise F3:**  In the previous code snippet, change `range(n)` by `range(3, 20, 5)` and rerun:
        
  1. What is the first value of `i`? 
  2. What is the second value of `i`? 
  3. What is the last value of `i`?

**Exercise F3:**  In the previous code snippet, change `range(n)` by `range(20, 3, -5)` and rerun:
        
  1. What is the first value of `i`? 
  2. What is the second value of `i`? 
  3. What is the last value of `i`?

## Other control flow structures

If you come from a C-language family background, the following control flow structures should be natural two you

### if - elif - else

Basic example:

In [114]:
z = 15

In [115]:
if  z > 10 :   
    print( "A: This is big!!!")
    print( "B: That's what she said!")
elif z == 0 : 
    print( "z is zilch!!!")
elif z > -10 : 
    print( "z is between -10 and 10 but not zero")
else : 
    print( "z is probably negative. Who knows... computers are weird...")

A: This is big!!!
B: That's what she said!

Things to notice: 
    
  1. There are no parentheses around the boolean conditions! Python's minimality of syntax strikes again!
  2. You can put parentheses around the boolean conditions if you really, truly, deeply want to, but my advise is:   
    **Don't bother, save on keystrokes and screen ink! Think of the code you will leave for future generations to read and marvel at your elegant Zen style.**  Besides, if you do, people are going to make fun at you for not having abandoned your outdated C/Java ways.

  3. there can be as many `elif` branches as you want each with an explicit condition
  4.  there can be only one `else` at the end, with no condition, of course!

**Exercise I1:** What happens if you change elif in the third line of the previous code snippet by 'else if' ?

**Exercise I2:** What happens if you change the definition of the name (variable) `z` by `z = "juan"` and rerun the 'if-elif-else' statement?

**Exercise I3:** What happens if you change the definitio of the name 'z' to `z = float("nan")` and rerun the 'if-elif-else' statement again?

### while loops 

These are almost boring...
The basic syntax is as follows:

In [116]:
z = 15

while z !=  1  : 
    print( f"z's value is {z}" )
    if z % 2 == 0 : # z is even 
        z = z // 2 
    else : 
        z = 3 * z + 1

z's value is 15
z's value is 46
z's value is 23
z's value is 70
z's value is 35
z's value is 106
z's value is 53
z's value is 160
z's value is 80
z's value is 40
z's value is 20
z's value is 10
z's value is 5
z's value is 16
z's value is 8
z's value is 4
z's value is 2

An infinite loop. Use the STOP button in the toolbar to stop it. There is no other way

In [ ]:
cnt = 0 
while True : 
    print( f"Too infinity and beyond : {cnt}\r", end="")
    cnt += 1

### continue and break

Sometimes one wants to interrupt the current iteration and go directly to the next one without finishing it.
This is done with the `continue` keyword, as in the following example:

In [120]:
for i in range(1, 12):      
    if i % 5 == 0 : # if i a multiple of 5 
        print( "I don't like multiples of 5, skipping this one")
        continue  # this jumps directly to the beginning of the loop, skipping the rest of _this_ iteration!  
        
    print( f"i = {i}")

i = 1
i = 2
i = 3
i = 4
I don't like multiples of 5, skipping this one
i = 6
i = 7
i = 8
i = 9
I don't like multiples of 5, skipping this one
i = 11

Sometimes one wants to completely stop a loop completely if some special condition holds, this is done by using the `break` keyword

In [124]:
for i in range(1, 12) : 
    print( f"i = {i}" )
    if i == 7 :  
        print( "Found 7, everybody's favorite number! No need to keep working!")
        break

i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 7
Found everybody's favorite number (7). No need to keep working!

### try - except

Recall that some operations might throw errors or exceptions. For instance:

In [133]:
a = "juan"
a_as_float = float( a )

ValueError: could not convert string to float: 'juan'

Sometimes we want to handle these in a robust manner. This is done via, try - except construction :

In [ ]:
a = "asdad"
try : 
    a_as_float = float( a ) 
    print( "the entered value could be converted directly to a number")
except ValueError as err :  
    # capture this particular type of exception and bind it to the name 'err'
    print( "an exception was thrown: defaulting to special float value = nan")
    a_as_float = float( "nan")
    
print( f"a_as_float = {a_as_float}")

## References

https://wiki.python.org/moin/MovingToPythonFromOtherLanguages

https://wiki.python.org/moin/BeginnersGuide/Overview

https://docs.python.org/3/library/