**Note:** This is the shortened version of a longer notebook on advanced data operations with pandas called `dw3-full.ipynb` and available to you at *no extra-cost!*. This version of the notebook focuses only on join and indexing operations. The full version covers advanced (user-defined) groupby+aggregation, pivoting as well as join and indexing.  In the interest of time, the live-workshop will conver the short version only.

## Content 

1. [Connecting to databases](#dbs)
2. [Some advanced data operations](#advanced)
 1. [Indexing](#indexing) 
 1. [Merge and Join](#joining)

In [1]:
import pandas as pd 
import math
from matplotlib import pyplot as plt
from importlib import reload 
import sys 

sys.path.append( "../")
import dw_utils3

Loading dw_utils3 module (v. 20181113)

In [ ]:
ans_submit = dw_utils3.create_submitter(host='data-workshops.yuxiglobal.com', port=443, 
                       user="your.name@yourcompany.com", # put your full yuxi email address here, including @yuxiglobal.com
                       ws_key="xw3", #this is the workshop key, don't change it 
                       token='your_token' ) #put the token that Mateo sent to you in an e-mail

**IMPORTANT:** Set the path to data to the right value where you put your (e.g. `"C:/Users/username/Downloads/"`)
If you put the data files for this workshop in the same directory as the notebook ('.ipynb' file) then, just set this to `"./"`)

In [ ]:
DATA_DIR = "./" # leave as  "./" if you put the data files next to the notebook file.

<div id="dbs"> </div>
## Section 1: **Non-interactive** demo:  connecting to databases (DBs)

**Warning:** Don't try to run the cells in this section as they will surely produce errors, as you don't have *pyodbc* installed or a local DB to connect to....

To connect to a DB you need the *pyodbc* module (library). This is usually not installed by default but can be easily installed with the following command (or via a terminal with `conda install -y pyodbc`)

In [ ]:
! conda install -y pyodbc

In [2]:
import pyodbc

Now we can use the `.connect` function inside this module to create a connection to any database 
(to which we have the right credentials) via the appropriate connection string. In this case I am connecting a PostgreSQL engine running on my own laptop (localhost). Note that regardless of where the server is, your client machine needs to have the appropriate ODBC driver installed!

In [3]:
conn = pyodbc.connect(  "Driver=PostgreSQL Unicode(x64);Server=localhost;Database=postgres;Uid=user1;Pwd=pwd1" )

With an established connection, there are two ways to issue queries and get data: 
    
  1.  Use pandas `pd.read_sql` function to construct a Dataframe from a query.
  2.  Use the lower level  `conn.execute()` to get rows from a query in an incremental way.

### 1. Using pandas .read_sql()

In [4]:
# %%timeit -n1 -r1
customer = pd.read_sql( "select * from customer limit 10000",
                        conn )
print( 'customer.shape =', customer.shape )

customer.shape = (10000, 8)

In [6]:
customer.head(20)

,cust_id,first_name,last_name,city,state,tier,phone,sales
0,322061,Florentia,Monte,Schaumburg,Illinois,4,2935400016,9010.0
1,322062,Sandie,Fortunato,Bartlett,Illinois,0,5781163827,2504.0
2,322063,Suellen,Loveman,Topeka,Kansas,9,2048151384,34689.0
3,322064,Marylou,Tisak,North Lauderdale,Florida,4,2243819204,53040.0
4,322065,Sibeal,Back,Lancaster,Texas,2,2189676526,1330.0
5,322066,Georgina,Neushul,Lodi,California,2,5291650587,3739.0
6,322067,Cristal,Kubacki,Rapid City,South Dakota,8,6008016122,39207.0
7,322068,Maris,Kimberley,Port Arthur,Texas,3,3631667023,25143.0
8,322069,Aleda,Badulescu,Baytown,Texas,5,4822823293,14137.0
9,322070,Aridatha,Chafin,Taylorsville,Utah,5,4855148616,18062.0
10,322071,Nicholle,Arky,Collierville,Tennessee,6,4913191639,99212.0
11,322072,Amil,Berger,Wilmington,Delaware,9,5210331260,38777.0
12,322073,Alessandra,Adame,Richardson,Texas,3,2249501132,8959.0
13,322074,Jemmie,Diller,Simi Valley,California,5,5192172221,45280.0
14,322075,Astrix,Nevins,Covington,Kentucky,7,6549277023,73390.0
15,322076,Elmira,Oman,Santa Cruz,California,9,2230662543,63994.0
16,322077,Vikki,Zelmanowitz,Lincoln,California,6,3699594820,69606.0
17,322078,Maressa,Lamensdorf,Pine Bluff,Arkansas,2,6315758143,15667.0
18,322079,Kriste,Delacey,Casa Grande,Arizona,0,5610812250,3521.0
19,322080,Faye,Jalisi,Wheeling,Illinois,4,2452371533,41943.0

### 2. Read and process a table record by record

This method is not as simple as using Pandas directly but could be applied in cases where you don't want ir / can't read the results of a queary  at once. This could be the case if those results are so big that they don't fit in memory.

In [8]:
for i, record in enumerate( conn.execute( "select * from customer") ) :
    print( i, record ) # A record is a tuple (without names :( )
    print( 'first_name = '+ record[1])
    print( 'last_name = '+ record[2], "\n")
    
    if i > 10 :
        break 
    # do something else with the data....

0 (331741, 'Jeana', 'Shepsle', 'Hagerstown', 'Maryland', 9, 6575314094, 42042.0)
first_name = Jeana
last_name = Shepsle

1 (331742, 'Sib', 'Di Felice', 'Santa Barbara', 'California', 7, 4362977952, 15050.0)
first_name = Sib
last_name = Di Felice

2 (331743, 'Rickie', 'Pledger', 'Delano', 'California', 5, 3272289569, 11476.0)
first_name = Rickie
last_name = Pledger

3 (331744, 'Nona', 'Heigemeir', 'Brownsville', 'Texas', 0, 4175238025, 5498.0)
first_name = Nona
last_name = Heigemeir

4 (331745, 'Vivyan', 'Devita', 'Lancaster', 'Texas', 7, 5372658941, 25630.0)
first_name = Vivyan
last_name = Devita

5 (331746, 'Megan', 'Finitsis', 'Jurupa Valley', 'California', 9, 2559482722, 118376.0)
first_name = Megan
last_name = Finitsis

6 (331747, 'Aleda', 'Gabriel', 'San Antonio', 'Texas', 6, 6508374910, 27659.0)
first_name = Aleda
last_name = Gabriel

7 (331748, 'Elva', 'Howey', 'Mansfield', 'Ohio', 4, 3178539777, 47939.0)
first_name = Elva
last_name = Howey

8 (331749, 'Merralee', 'Rockwell', 'Kettering', 'Ohio', 4, 6176595809, 26937.0)
first_name = Merralee
last_name = Rockwell

9 (331750, 'Amelita', 'Conway', 'Davis', 'California', 9, 3557229977, 3465.0)
first_name = Amelita
last_name = Conway

10 (331751, 'Rubina', 'Shanks', 'Mesa', 'Arizona', 0, 2384315620, 7259.0)
first_name = Rubina
last_name = Shanks

11 (331752, 'Corene', 'Mitra', 'Collierville', 'Tennessee', 9, 2427337195, 24293.0)
first_name = Corene
last_name = Mitra

### Writing results to a table

Assume you process your data and come up with a result. For example...

In [5]:
cust17 = customer[ customer["cust_id"] % 100 < 2 ]
cust17

,cust_id,first_name,last_name,city,state,tier,phone,sales
59,331800,Davida,Cedarbaum,Normal,Illinois,4,5689070376,22482.0
60,331801,Kym,Hottle,Brownsville,Texas,4,5273220578,3371.0
159,331900,Barbara-Anne,Troisi,Baldwin Park,California,9,4102242190,18483.0
160,331901,Charlotte,Drew,Moreno Valley,California,7,2968087426,8465.0
259,332000,Sada,Abdulrazak,Carson,California,4,6520553137,8133.0
260,332001,Cleo,Soares,Mansfield,Ohio,8,5730383961,290471.0
359,332100,Glenda,Mcchesney,Lakewood,Ohio,2,4833862965,14544.0
360,332101,Antonina,Ross-Degnan,Torrance,California,7,3611540956,24146.0
459,332200,Katy,Maclaurin,Victorville,California,2,5961824651,85302.0
460,332201,Liesa,Moeykens,Peoria,Illinois,3,2350974211,4406.0
559,332300,Magdalena,Chehabi,Federal Way,Washington,8,6811170301,9055.0
560,332301,Terrye,Balaguer,Raleigh,North Carolina,9,3038195150,26321.0
659,332400,Frankie,Bauer,St. Charles,Missouri,5,3223139650,3272.0
660,332401,Stephannie,Iimura,Urbandale,Iowa,1,6410847317,958.0
759,332500,Honoria,Stathakis,Lawrence,Indiana,4,2549667178,23336.0
760,332501,Verene,Waternaux,Norwich,Connecticut,3,6073396678,2376.0
859,332600,Callida,Zagaeski,Joliet,Illinois,8,3342089665,9556.0
860,332601,Remy,Lees,Campbell,California,3,5775942486,8700.0
959,332700,Vivian,Groden,Shoreline,Washington,2,6159990850,11679.0
960,332701,Jill,Tuchman,Parma,Ohio,5,5304125433,3027.0
1059,332800,Issi,Curzi,North Las Vegas,Nevada,0,6751330061,1181.0
1060,332801,Beverly,Poskanzer,Merced,California,6,4006793184,3683.0
1159,332900,Keriann,Angelini,Logan,Utah,5,3767824057,9516.0
1160,332901,Minnie,Samonides,West Valley City,Utah,0,5753224871,657.0
1259,333000,Nanice,Memoli,San Jose,California,8,2629861751,20748.0
1260,333001,Giralda,Vegh,Pensacola,Florida,4,3039492308,12442.0
1359,333100,Kerrie,Wittman,Mission Viejo,California,8,4032658178,11240.0
1360,333101,Doris,Lillvik,Abilene,Texas,4,4131221589,6613.0
1459,333200,Philomena,Westerman,Renton,Washington,9,5184982798,104364.0
1460,333201,Bessie,Banzett,Dunwoody,Georgia,8,5723134701,35521.0
...,...,...,...,...,...,...,...,...
8559,340300,Bambie,Gedaminsky,Las Vegas,Nevada,9,6313330399,28693.0
8560,340301,Ailey,Gollis,Aurora,Illinois,6,5279359303,14190.0
8659,340400,Elisabetta,Sateriale,Sioux City,Iowa,6,2751840192,88665.0
8660,340401,Jessi,Christenson,Janesville,Wisconsin,3,4909215149,4911.0
8759,340500,Jesselyn,Akiba,Athens-Clarke County,Georgia,9,4085521499,24194.0
8760,340501,Freddy,Churchill,Meridian,Mississippi,2,2661206480,27988.0
8859,340600,Ettie,Thwing,Wilmington,Delaware,1,4867599450,7793.0
8860,340601,Cathyleen,Meserve,McKinney,Texas,8,3529726315,20465.0
8959,340700,Leisha,Corsetti,Napa,California,0,4340847588,35740.0
8960,340701,Natka,Ginsberg,Daytona Beach,Florida,9,3293300281,62961.0
9059,340800,Cristabel,Brecht,North Port,Florida,7,3560335302,17555.0
9060,340801,Nananne,O'hare,Concord,New Hampshire,2,3517741109,3299.0
9159,340900,Lida,Forsythe,Hammond,Indiana,3,5780140038,19326.0
9160,340901,Beckie,Theriault,Pomona,California,0,2717417891,7464.0
9259,341000,Brigida,Lanham,Compton,California,0,3603072193,10185.0
9260,341001,Mame,Yarden,Oak Park,Illinois,0,5279159866,721.0
9359,341100,Alvera,Angus,Utica,New York,3,3249316346,5887.0
9360,341101,Cristi,Rahilly,Greenacres,Florida,5,3601490110,124419.0
9459,341200,Loralie,Jong,Prescott Valley,Arizona,2,6007850562,38569.0
9460,341201,Tessa,Sherwin,Lancaster,Texas,1,6295228981,2380.0
9559,341300,Ivie,Grossi,Duluth,Minnesota,2,2490085632,4734.0
9560,341301,Shelagh,Taveras,Stillwater,Oklahoma,5,4761314473,21188.0
9659,341400,Corrie,Pennazza,Huntington Park,California,4,4872960056,30595.0
9660,341401,Letisha,Lawoko,Chicago,Illinois,3,6606248558,17769.0
9759,341500,Nicole,Auden,Belleville,Illinois,9,5226942767,76409.0
9760,341501,Amii,Quist,Rocklin,California,2,5211751763,7233.0
9859,341600,Dolley,Gulotta,Woonsocket,Rhode Island,1,6120247228,7841.0
9860,341601,Mari,Tivegna,Roseville,Michigan,1,6627419753,7690.0
9959,341700,Ailene,Kafadar,Allen,Texas,5,5957884302,11714.0
9960,341701,Hilary,Singsen,Washington,District of Columbia,1,4401697955,7066.0

If we want to write this back to our DB, the easiest way is to create an "sqlalchemy engine" that points to our postgresql and has the approrpiate credentials built-in.

In [6]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://user1:pwd1@localhost:5432/postgres')
engine

Engine(postgresql://user1:***@localhost:5432/postgres)

An then simply use the `.to_sql` method on our dataframe of results.

In [7]:
%%timeit -r1 -n1
cust17.to_sql( 'cust_procesado1', 
               engine, if_exists = 'replace',
               index=False)  # 'cust17' is going to be the name of the new table in the db

94 ms Â± 0 ns per loop (mean Â± std. dev. of 1 run, 1 loop each)

In [9]:
pd.read_sql( "select * from cust_procesado1", conn )

,cust_id,first_name,last_name,city,state,tier,phone,sales
0,331800,Davida,Cedarbaum,Normal,Illinois,4,5689070376,22482.0
1,331801,Kym,Hottle,Brownsville,Texas,4,5273220578,3371.0
2,331900,Barbara-Anne,Troisi,Baldwin Park,California,9,4102242190,18483.0
3,331901,Charlotte,Drew,Moreno Valley,California,7,2968087426,8465.0
4,332000,Sada,Abdulrazak,Carson,California,4,6520553137,8133.0
5,332001,Cleo,Soares,Mansfield,Ohio,8,5730383961,290471.0
6,332100,Glenda,Mcchesney,Lakewood,Ohio,2,4833862965,14544.0
7,332101,Antonina,Ross-Degnan,Torrance,California,7,3611540956,24146.0
8,332200,Katy,Maclaurin,Victorville,California,2,5961824651,85302.0
9,332201,Liesa,Moeykens,Peoria,Illinois,3,2350974211,4406.0
10,332300,Magdalena,Chehabi,Federal Way,Washington,8,6811170301,9055.0
11,332301,Terrye,Balaguer,Raleigh,North Carolina,9,3038195150,26321.0
12,332400,Frankie,Bauer,St. Charles,Missouri,5,3223139650,3272.0
13,332401,Stephannie,Iimura,Urbandale,Iowa,1,6410847317,958.0
14,332500,Honoria,Stathakis,Lawrence,Indiana,4,2549667178,23336.0
15,332501,Verene,Waternaux,Norwich,Connecticut,3,6073396678,2376.0
16,332600,Callida,Zagaeski,Joliet,Illinois,8,3342089665,9556.0
17,332601,Remy,Lees,Campbell,California,3,5775942486,8700.0
18,332700,Vivian,Groden,Shoreline,Washington,2,6159990850,11679.0
19,332701,Jill,Tuchman,Parma,Ohio,5,5304125433,3027.0
20,332800,Issi,Curzi,North Las Vegas,Nevada,0,6751330061,1181.0
21,332801,Beverly,Poskanzer,Merced,California,6,4006793184,3683.0
22,332900,Keriann,Angelini,Logan,Utah,5,3767824057,9516.0
23,332901,Minnie,Samonides,West Valley City,Utah,0,5753224871,657.0
24,333000,Nanice,Memoli,San Jose,California,8,2629861751,20748.0
25,333001,Giralda,Vegh,Pensacola,Florida,4,3039492308,12442.0
26,333100,Kerrie,Wittman,Mission Viejo,California,8,4032658178,11240.0
27,333101,Doris,Lillvik,Abilene,Texas,4,4131221589,6613.0
28,333200,Philomena,Westerman,Renton,Washington,9,5184982798,104364.0
29,333201,Bessie,Banzett,Dunwoody,Georgia,8,5723134701,35521.0
...,...,...,...,...,...,...,...,...
170,340300,Bambie,Gedaminsky,Las Vegas,Nevada,9,6313330399,28693.0
171,340301,Ailey,Gollis,Aurora,Illinois,6,5279359303,14190.0
172,340400,Elisabetta,Sateriale,Sioux City,Iowa,6,2751840192,88665.0
173,340401,Jessi,Christenson,Janesville,Wisconsin,3,4909215149,4911.0
174,340500,Jesselyn,Akiba,Athens-Clarke County,Georgia,9,4085521499,24194.0
175,340501,Freddy,Churchill,Meridian,Mississippi,2,2661206480,27988.0
176,340600,Ettie,Thwing,Wilmington,Delaware,1,4867599450,7793.0
177,340601,Cathyleen,Meserve,McKinney,Texas,8,3529726315,20465.0
178,340700,Leisha,Corsetti,Napa,California,0,4340847588,35740.0
179,340701,Natka,Ginsberg,Daytona Beach,Florida,9,3293300281,62961.0
180,340800,Cristabel,Brecht,North Port,Florida,7,3560335302,17555.0
181,340801,Nananne,O'hare,Concord,New Hampshire,2,3517741109,3299.0
182,340900,Lida,Forsythe,Hammond,Indiana,3,5780140038,19326.0
183,340901,Beckie,Theriault,Pomona,California,0,2717417891,7464.0
184,341000,Brigida,Lanham,Compton,California,0,3603072193,10185.0
185,341001,Mame,Yarden,Oak Park,Illinois,0,5279159866,721.0
186,341100,Alvera,Angus,Utica,New York,3,3249316346,5887.0
187,341101,Cristi,Rahilly,Greenacres,Florida,5,3601490110,124419.0
188,341200,Loralie,Jong,Prescott Valley,Arizona,2,6007850562,38569.0
189,341201,Tessa,Sherwin,Lancaster,Texas,1,6295228981,2380.0
190,341300,Ivie,Grossi,Duluth,Minnesota,2,2490085632,4734.0
191,341301,Shelagh,Taveras,Stillwater,Oklahoma,5,4761314473,21188.0
192,341400,Corrie,Pennazza,Huntington Park,California,4,4872960056,30595.0
193,341401,Letisha,Lawoko,Chicago,Illinois,3,6606248558,17769.0
194,341500,Nicole,Auden,Belleville,Illinois,9,5226942767,76409.0
195,341501,Amii,Quist,Rocklin,California,2,5211751763,7233.0
196,341600,Dolley,Gulotta,Woonsocket,Rhode Island,1,6120247228,7841.0
197,341601,Mari,Tivegna,Roseville,Michigan,1,6627419753,7690.0
198,341700,Ailene,Kafadar,Allen,Texas,5,5957884302,11714.0
199,341701,Hilary,Singsen,Washington,District of Columbia,1,4401697955,7066.0

In [15]:
help( cust17.to_sql ) # figure out how to get rid of the index

Help on method to_sql in module pandas.core.generic:

to_sql(name, con, schema=None, if_exists='fail', index=True, index_label=None, chunksize=None, dtype=None) method of pandas.core.frame.DataFrame instance
    Write records stored in a DataFrame to a SQL database.

    Databases supported by SQLAlchemy [1]_ are supported. Tables can be
    newly created, appended to, or overwritten.

    Parameters
    ----------
    name : string
        Name of SQL table.
    con : sqlalchemy.engine.Engine or sqlite3.Connection
        Using SQLAlchemy makes it possible to use any DB supported by that
        library. Legacy support is provided for sqlite3.Connection objects.
    schema : string, optional
        Specify the schema (if database flavor supports this). If None, use
        default schema.
    if_exists : {'fail', 'replace', 'append'}, default 'fail'
        How to behave if the table already exists.

        * fail: Raise a ValueError.
        * replace: Drop the table before inserting new values.
        * append: Insert new values to the existing table.

    index : boolean, default True
        Write DataFrame index as a column. Uses `index_label` as the column
        name in the table.
    index_label : string or sequence, default None
        Column label for index column(s). If None is given (default) and
        `index` is True, then the index names are used.
        A sequence should be given if the DataFrame uses MultiIndex.
    chunksize : int, optional
        Rows will be written in batches of this size at a time. By default,
        all rows will be written at once.
    dtype : dict, optional
        Specifying the datatype for columns. The keys should be the column
        names and the values should be the SQLAlchemy types or strings for
        the sqlite3 legacy mode.

    Raises
    ------
    ValueError
        When the table already exists and `if_exists` is 'fail' (the
        default).

    See Also
    --------
    pandas.read_sql : read a DataFrame from a table

    References
    ----------
    .. [1] http://docs.sqlalchemy.org
    .. [2] https://www.python.org/dev/peps/pep-0249/

    Examples
    --------

    Create an in-memory SQLite database.

    >>> from sqlalchemy import create_engine
    >>> engine = create_engine('sqlite://', echo=False)

    Create a table from scratch with 3 rows.

    >>> df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})
    >>> df
         name
    0  User 1
    1  User 2
    2  User 3

    >>> df.to_sql('users', con=engine)
    >>> engine.execute("SELECT * FROM users").fetchall()
    [(0, 'User 1'), (1, 'User 2'), (2, 'User 3')]

    >>> df1 = pd.DataFrame({'name' : ['User 4', 'User 5']})
    >>> df1.to_sql('users', con=engine, if_exists='append')
    >>> engine.execute("SELECT * FROM users").fetchall()
    [(0, 'User 1'), (1, 'User 2'), (2, 'User 3'),
     (0, 'User 4'), (1, 'User 5')]

    Overwrite the table with just ``df1``.

    >>> df1.to_sql('users', con=engine, if_exists='replace',
    ...            index_label='id')
    >>> engine.execute("SELECT * FROM users").fetchall()
    [(0, 'User 4'), (1, 'User 5')]

    Specify the dtype (especially useful for integers with missing values).
    Notice that while pandas is forced to store the data as floating point,
    the database supports nullable integers. When fetching the data with
    Python, we get back integer scalars.

    >>> df = pd.DataFrame({"A": [1, None, 2]})
    >>> df
         A
    0  1.0
    1  NaN
    2  2.0

    >>> from sqlalchemy.types import Integer
    >>> df.to_sql('integers', con=engine, index=False,
    ...           dtype={"A": Integer()})

    >>> engine.execute("SELECT * FROM integers").fetchall()
    [(1,), (None,), (2,)]

<div id="advanced"></div>
## Section 2: Some advanced data operations

In this data workshop, we will see some advanced data operatorions using Pandas such as merging (joining), accessing data through an index, and re-arranging data. 

Let's load our 'House Prices' dataset that we are familiar with from the previous workshop:

In [ ]:
houses_df = pd.read_csv( DATA_DIR + "house_prices_and_characteristics.csv" ).drop( "Id", axis=1).sort_values('SalePrice')

pd.set_option("display.max_columns", 50)

In [ ]:
houses_df.head(5)

**And now for the actual aggregation exercises, in which the output data does matter**

In [ ]:
houses_df.head(10)

<div id="indexing"></div>
## Indexing

An **index** in a data frame is a set of values that play essentially the same role as the keys in a dictionary. An index is usually composed of integers, strings or tuples. To each value of the index, there is an associated row or, possibly, a *set of rows* in the data frame. 

Further, accessing that row or set of rows is an efficient (O(1)) operation that **does not** *require to scan* the whole data set. 

It's important to note that the index is *not considered* a column in the dataset as such. It's in a different category. However, an index can be easily turned into a column as we will see below.

### set_index

Every data frame has an index. When the dataframe is first created from scratch, the index keys are just integers ranging from 0 to `len(df)-1`. 

However it is often more useful to define and index from the values of one or several columns column.
This is done by means of the `.set_index` method (in the `DataFrame` class).

This method **makes the specified column into the new index **of the data frame by either taking it out of the data columns (default) or keeping it both as the index as well as a data column (by setting the drop parameter to False). More than one column may be set as index by inputing a list of columns.

Remember what `houses_df` looks like:

In [ ]:
houses_df.head(10)

Notice that there is a column of apparently random numbers in boldface,  on the left, an it is *not named*. That's actually not a column, *but the index*. Notice that, when we defined the dataframe, we sorted it by SalePrice right after loading it from the csv. The first record in the resulting order by location actually comes from the 495-th row of the csv and corresponds to the house with the lowest price. That's where the 495 in front of the first record comes from. The second cheapest house was in line 916 and so forht.

Looking at the `.index` attribute we see that `houses_df` has an index consisting of integers, in the order just shown.

In [ ]:
houses_df.index

Now we redefine the index.

In [ ]:
houses_indexed_1 = houses_df.set_index( 'Neighborhood' )
houses_indexed_1.head( 20 )

In [ ]:
houses_indexed_1.index

Now the index onsists of strings but they come from `Neighborhood` column in the original data frame.

It's important to see that setting an index on a data frame doesn't actually change the original data frame at all, rather it creates a new one with the specified index.

In [ ]:
houses_df.head(10) # this is the same as before. The original df wasn't altered by the indexing operation.

Not let's define and index on two columns!

In [ ]:
houses_indexed_2 = houses_df.set_index( ['Neighborhood', 'LotArea'] )
houses_indexed_2.head( 20 )

The resulting index is called a _hierarchical_ index because it has a hierarchy of levels. 

In this case , the first level groups  records by Neighborhood an the second by LotArea.

** Exercise I0: ** 

The following line generates an error. Copy an paste the *last* (non-empty) line of the error message into the answer. 
Make sure to understand **why** this error is produced. If you don't understand, discuss it with your instructor.

In [ ]:
houses_indexed_1['Neighborhood']

In [ ]:
ans_submit( "I0", "copy and paste the last (non-empty) line of the error message including anything in red")

Thus, we see that there is no longer a Neighborhood column. 
The indexing operation turned it into the index and removed it from the available columns. Remember an **index is not a data-column**, although it looks very much like one...

It is also possible to keep a column as data as well as setting it as and index by  passing the `drop = False` to `set_index`.

In [ ]:
houses_indexed_1 = houses_df.set_index("Neighborhood", drop=False)
houses_indexed_1.head( 20 )  
#Notice that 'Neighborhood' appears as a name for the index on the left but also as the 11-th column on the right...

### Retrieving rows through an index -- basic usage

The primary purpose of an index is to *efficiently* retrieve a row or set of rows from a data frame. This is done throught the `DataFrame.loc` accessor ( 'loc' is short for 'locate' ). We will go in depth into the usage of `loc`, but for now the essential usage is as follows:

In [ ]:
second_row = houses_df.loc[916]
second_row

** Exercise I1: ** 

What is the _type_ of `second_row`?  (You can use the built-in function `type()` to answer this question)

In [ ]:
ans_submit( "I1", "pandas.....fill-in rest of the type (fully-qualified) name")

In [ ]:
second_row_v2 = houses_df.loc[ [826] ]
second_row_v2

This is the same as before except that it is nicely formatted (why?)

**Exercise I2**

What is the type of `second_row_v2`?

In [ ]:
ans_submit( "I2", "pandas.....")

In [ ]:
another_row = checkins_df.loc[ [0] ]
another_row

Notice that a *single* index value can map to _many_ rows...

In [ ]:
houses_indexed_1.loc['Edwards']  # All houses in the neighborhood called Edwards

** Exercise I3 **

How many rows are there for Neighborhood = 'OldTown'

In [ ]:
ans_submit( "I3",...  ) # your answer instead of ...

### Accessing rows when there is a hierarchichal index 

When there are _n_ levels in the index, you can specify 1, 2 or up to 'n' values in to the `.loc` accessor

In [ ]:
houses_indexed_2.loc[ 'Veenker' ]

In [ ]:
houses_indexed_2.loc[ ('Veenker', 9600) ]

In order to avoid that nasty warning we are careful to sort both levels of the index..

In [ ]:
houses_indexed_2s = houses_indexed_2.sort_index( level= [0,1], axis=0)  
houses_indexed_2s.loc['Veenker'] #Notices areas are now sorted

In [ ]:
houses_indexed_2s.loc[ ('Veenker',9600) ] #... and finding a houses by Lot Area is an efficient operation now. 
# No warning this time!

### reset_index

It reset the index to an auto-incremental one and makes any previously set index a data column again. By default it resets all previously indexed columns, but the parameter level allows only certain indexes to be reset

In [ ]:
houses_indexed_2s.reset_index().head(20)

In [ ]:
houses_indexed_2s.reset_index(level=1).head(20)

## iloc and loc

Pandas' main way of referencing data is through `.iloc` and `.loc` _accessors_ (which are special types of attributes)

Both accesors are similar but only superficially so.

`iloc` is simpler, it's basic usage syntax is as follows

```
   df.iloc[ list_of_ints_r, list_of_ints_c ]  
```

Here `list_of_ints_r` specifies the 0-based _integer indices_ of _rows_ in the dataframe's own order and and `list_of_ints_c` specifies the 0-based indices of `columns`. Despite its name `iloc` **does not take into account the dataframe's index** at all! The **`i`** in `iloc` stands for **`integer`**. 

Instead of `list_of_ints_r`, you can also put a slice, such as `10:47` to get rows numbered 10 through 46 (not including 47 as is usual with Python slicing). Remember that just writing `:47` is a shorthand for `0:47`  and `10:` is a shorthand for `10:len(df)`. Similarly just writing `:` means `0:len(df)`. 

Analogous considerations hold for the second argument, `list_of_ints_c`. 


Now onto `loc`.

The `.loc` method (accessor)  receives as input list of row keys and another one column names.

Row keys are the keys defined in the index. The colum names are the regular column names you already know and love. 


The basic syntax is:

```
   df.loc[ list_of_row_keys, list_of_col_names ]  
```

It is also possible to  specify the _row keys_ only:

```
   df.loc[ list_of_row_keys ]  
```

In [ ]:
houses_indexed_1.iloc[ [1,2,3], [0, 1,3] ]  # just indexing by the order they appear in the df. 0-based indexing!

In [ ]:
houses_indexed_1.iloc[ 1:7, 0:5 ]

Now we use `.loc` with only row keys: 

Notice that a **single key can refer to many rows**! (and this is not unusual...)

In [ ]:
houses_indexed_1.loc[ ["Blueste","NPkVill"] ].head(20)

In [ ]:
houses_indexed_1.loc[ ["Blueste","NPkVill"], 'LotArea' : 'LandContour' ].head(20)

Notice that only some of the values of 'Exterior1st' appeared for `Street = 'Grvl'`, hence the grid contains NaNs for those.

<div id="joining"></div>
## Merge and join

Joining refers to any operation where rows from one table `A` are combined (concatenated) with rows from another table `B` following a certain "lookup" or "linkage" rule. This rule usually takes the form `rowA.idcol1 = rowB.idcol2`, that is the value from `idcol1` in `rowA` coming from table `A` should match the value of `idcol2`  in `rowB` from table `B`, in order for both rows to be concatenated and their concatenation return as part of the result. This type of rule defines an **equi-join** (*equi* because the comparison is *equality*)

Pandas dataframes, implement to methods for joining. 
These are  `.merge()` and `.join()`.

### `.merge()`

Somewhat counterintutively, the function `merge` is *pandas counterpart of SQL's equi-join*, and requires the specification of which columns of both data frames would be compared. Merge doesn't care at all about the indexes defined on the deframe. 


### The four types of join

The following figure summarizes the different 4 types or merge: ** inner, outer, left and right**

The function merge is also availaible as a method in the  `DataFrame` class. 
The basic syntax is:

```
new_joined_df = df.merge( another_df, left_on = "col_in_df",  right_on = "col_in_another_df",
                          how="inner"|"left"|"right"|"outer" ) 
```

The first argument (`another_df`) as well as `left_on` and `right_on` are required arguments. 
`left_on` specifies a column name on the data frame `df` whose values should be matched with 
those of the  `another_df`'s column specified by `right_on` in. 

The `how` argument is optional ans specifies the type of join:
 
 <img src="merge.png" height="200" width="800"/>

To see some examples, we load some (financial!) data first.

In [ ]:
usdcop = pd.read_csv( DATA_DIR + 'usdcop.csv', delimiter = "\t", infer_datetime_format=True)
usdcop

In [ ]:
# Minor prepossing to have alues as proper numbers and not strings...

usdcop = pd.read_csv( DATA_DIR + 'usdcop.csv', delimiter = "\t", infer_datetime_format=True)
usdcop['usd_cop'] = usdcop['usd_cop'].str.replace('$', '').str.replace(',', '').astype( float )
usdcop['fecha'] = ( usdcop['fecha'].str[6:10] + '-' + usdcop['fecha'].str[3:5] + '-' + usdcop['fecha'].str[0:2] )
usdcop  # Now contains the exchange rate from usd to cop  as type float!

In [ ]:
btcusd = pd.read_csv( DATA_DIR + 'btcusd.csv' ) # this file contains hourly exchange rate from BTC (bitcoin) to USD
btcusd['date'] = btcusd['date_tm'].str[0:10]
btcusd['time'] = btcusd['date_tm'].str[11:]

btcusd.head(10)

In [ ]:
btcusd_day_max = btcusd.groupby('date').agg( {'btc_usd' : 'max' } ).reset_index()
btcusd_day_min = btcusd.groupby('date').agg( {'btc_usd' : 'min' } ).reset_index()
btcusd_day = pd.concat( [btcusd_day_max, btcusd_day_min] ).sort_values( 'date' )
btcusd_day  # Now contains both the minimum and maximum exchange rates between btc (bitcoin) and USD

## Inner merge

Is the default merge in case the `how` parameter is not specified. It yields rows for which **there are matching values of the specified merge columns on both** data_Frames.

In [ ]:
usdcop.merge( btcusd_day_min, left_on='fecha', right_on='date' )

**Question:** Why did the first `btc_usd` price (7930.79) get duplicated?  If you don't understand it, discuss it with your instructor!

In [ ]:
usdcop.merge( btcusd_day, left_on='fecha', right_on='date' )

## Left merge

It gkeeps all the data from the first data frame, adding data from the second one whenever there is a row matching and filling with `NaN` the missing columns from the second data frame in which no match was found

In [ ]:
usdcop.merge( btcusd_day_min, how="left", left_on='fecha', right_on='date')

## Right merge

It's pretty much the same exact thing as left merge with the data frame on the left taking being on the right and viceversa. It keeps all the data from the second data frame adding data from the first one whenever they intersect and filling with `NaN` the missing columns from the first data frame if no match was found

In [ ]:
usdcop.merge( btcusd_day_min,  how="right", left_on='fecha', right_on='date').sort_values( 'date' )

## Outer merge

It's basically the combination of both left and right join, keeping all the data from both data frames and filling out with NaN if no match found was found for either.

In [ ]:
usdcop.merge( btcusd_day_min, how="outer", left_on='fecha', right_on='date')

### Merge Exercise 0 

Compute the outer merge between the `usdcop` and `btcusd_day` dataframes on `fecha`/`date`. 

Call the resulting data frame `buc_min`. 

Add a new column `btc_cop` to this dataframe containing the exchange rate from `btc` to `cop`. This can be computed as the product of the two available exchange rates (`btc_usd`, `usd_cop`). 

Now generate a new series `agg` by applying `groupby('date')` to `buc_min` and compute both the mean and the median of the new column for each `date`.

In [ ]:
# replace ... by your code 
buc_min = ... 
...
agg = buc_min.groupby('date').agg( {"btc_cop" : ["mean", "median"]} ) 

ans_submit( 'Mer0', int(agg[('btc_cop', 'median')].sum()) ) # don't change this line

### Join

The second method for joining is `.join()`. The main difference with `.merge()` is that it takes advantage of any indices already defined on the dataframes to be joined and, due to this, could potentially be more efficient in some cases.

Sometimes, when data frames are already indexed by the same 'thing', it is a lot easier to use `join`, which simply matches rows from two them according to their index value. 

To see this, let's create another dataframe indexed by 'Neighborhood'

In [ ]:
stats_by_neighborhood = ( houses_df.groupby( "Neighborhood" )
                                   .agg( { "LotArea" : "mean",
                                           "SalePrice" : "mean"}) 
                                   .rename( columns={
                                              "LotArea" : "avg_area_in_nbh", #nbh : Neighborhood
                                              "SalePrice" : "avg_price_in_nbh"}) 
                        )

stats_by_neighborhood

Now lets join against (a selection of the columns in) `houses_indexed_1` which was already indexed by `Neighborhood`.

In [ ]:
( houses_indexed_1[['MSSubClass', 'LotFrontage', 'LotArea', 'SalePrice']]
                  .join( stats_by_neighborhood ) # notice we don't have to specify any columns to join on, as the indexes are used implicitely!
                  .sort_values( 'SalePrice')
).head(10)

** Exercise Mer1 ** 

We define a dataframe aggregated (and indexed!) by lotarea

In [ ]:
stats_by_area = ( houses_df.groupby("LotArea")
                              .agg( { "SalePrice" : "mean", "LotFrontage" : "mean" } )
                              .rename( columns={ "SalePrice" : "mean_price_area", "LotFrontage" : "min_frontage_area"  }) )
stats_by_area.head()

Now, define a `houses_by_area`  as `houses_df` indexed by `LotArea` and join the result via `.join()` with `stats_by_lotarea`. 
How many rows does the resulting join df have?

In [ ]:
ans_submit( "Mer1", 0 ) # replace 0 by the number of rows in the resulting joined df